body{
    background-color: lightblue;
}
div{
    padding: 10px;
    background-color: green;
    border: solid 1px red;
}
.inline-block div{
    display: inline-block;
    width: 30%;
}
.float div{
    float:left;
    width: 30%;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
}
.flexbox div{
    width: 30%;
}
.limpar-floats{
    clear: both;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}