.container{
    position: relative;
}
nav{
    position: absolute;
    left: 0;
    width: 200px;
}
section{
    margin-left: 200px;
}
footer{
    position: fixed;
    bottom: 0;
    left:0;
    height: 70px;
    background-color: white;
    width: 100%;
}
body{
    margin-bottom: 120px;
}
nav{
    display: inline-block;
    vertical-align: top;
    width: 25%;
}
.column{
    display: inline-block;
    vertical-align: top;
    width: 75%;
}